*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins";
}
/* Text-fileds background color */
.text-fields{
    background-color: #f5df4e ;
}

/* Color to the All icons */
.allicons-color{
    color: #f5df4e;
}
.center-padding{
    padding: 0 150px;
}
@media screen and (max-width:767px) {
    .center-padding{
        padding:20px;  
    }
}
@media screen and (max-width:1199px) and (min-width:768px){
    .center-padding{
        padding: 15px 30px;
    }
}
.vertical-padding{
    padding: 70px 0;
}
@media  screen and (max-width:767px) {
    .vertical-padding{
        padding: 25px 0;
    }
}
/* HEADER SECTION CSS */

.header-navigation, .contact-details{
    background-color: #f5df4e;
}
.navbar-header a{
    color: #252b33;
}
/* #myNavBar{
    background-color:#ffeb3b;
    text-align: center;
} */
.navbar-header ul{
    text-align: center;
}
.show  ul{
    background-color:#ffeb3b;
    text-align: center;
}
.navbar-header a.active{
    font-weight: 600;
}
.navbar-header a.nav-link:hover{
    color: #252b33;
    font-weight: 600;
}
div.author-qualification{
    padding: 100px 0;
}
div.author-qualification h6{
    font-size: 50px;
}
div.author-qualification h5{
    font-size: 110px;
}
div.author-image img{
    float: right;
    width: 400px;
    height: 400px;
    border: 15px solid #ffffff;
}
div a.myworks-btn{
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #353a40;
}
div a.myworks-btn:hover{
    color: #f5df4e;
    background-color: #061216d2;
}
/*  HEADER SECTION RESPONSIVE CSS */
@media screen and (max-width : 767px){
    div.author-qualification{
        padding: 20px 0;
        text-align: center;
    }
    div.author-image img{
        float: none;
        width: 300px;
        height: 300px;
        border: 10px solid #ffffff;
    }
    div.author-qualification h6{
        font-size: 30px;
    }
    div.author-qualification h5{
        font-size: 50px;
    }
 }
 @media screen and (max-width:1199px) and (min-width:768px){
    .div.author-image img{
        width: 200px;
        height: 200px;
    }
    div.author-qualification h6{
        font-size: 40px;
    }
    div.author-qualification h5{
        font-size: 45px;
    }
 } 

 /* SECTION 2  */
div.author-details span u{
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-color: #f5df4e;
}
div.author-details p{
    font-size: 20px;
}
.big-icon-text::before{
    position: absolute;
    content: '';
    background-color: #f5df4e;
    width:125px;
    height: 125px;
    margin-left:30px;
    border-radius: 50%;
    z-index: -1;

}
.big-icon-text{
    position: relative;
    line-height: 130px;
    font-size: 150px;
    font-weight: 500;
    z-index: 2;
}
/* SECTION 2 RESPONSIVE CSS*/
@media screen and (max-width : 560px){
    div.author-details p{
        font-size: 12px;
        text-align: justify;
    }
    .authorpersonal-details{
        width: 50%;
    }
}
@media screen and (max-width:992px) and (min-width:561px) {
    div.author-details p{
        font-size: 18px;
        text-align: justify;
    }
    .authorpersonal-details{
        width: 50%;
    }
}

/* SECTION 3 CSS */
.technologies{
    background-color: #f8f9fb;
}
.cols-gap{
    width: 33.33%;
    padding: 10px 30px;
}
.technologies-title{
    color: black;
}
.technologies-details p{
    color: #9ba1a8;
    font-size: 18px;
}
/* SECTION 3 RESPONSIVE CSS */
@media screen and (max-width:560px) {
    .cols-gap{
        width: 100%;
    }
}
@media screen and (max-width:1199px) and (min-width:561px) {
    .cols-gap{
        width: 50%;
    }
}
/* SECTION 4 CSS */
.qualification-details, .experience-details{
    padding: 0 15px;
    border-left: 3px solid #f5df4e;
}
.qualification-university, .experience-company{
   font-weight: 500;
}
.qualification-details p, .experience-details p{
    color: #93999f;
    padding: 5px 0;
}
.skills-details{
    color: #45494d;
}
.progress-bar-color{
    background-color:#f5df4e;
}
.download-btn a{
    color: #45494d;
    font-weight: 600;
    padding: 15px 40px;
    border: 3px solid #3f4449;
}
.download-btn a:hover{
    background-color: #f5df4e;
}
/* SECTION 4 RESPONSIVE CSS */
@media screen and (max-width:767px){
    .column-gap{
        padding-bottom: 40px;
    }
}
@media screen and (max-width:1199px) and (min-width:768px){
    .column-gap{
        padding-bottom: 60px;
    }
}
/* SECTION 5 CSS */
.navbar-images a{
    font-size: 18px;
    font-weight: 500;
    color: #a3a5a6;
    margin: 5px;
    border-bottom: 4px solid transparent;
}
.navbar-images a.active{
    color: #45494d;
    border-bottom: 4px solid #f5df4e;
}
.navbar-images a:hover{
    color: #45494d ;
    border-bottom: 4px solid #f5df4e;
}
.card-image{
    width: 33.33%;
    padding: 10px;
}
figure.project-images {
    position: relative;
    padding-bottom: 105%;
    width: 100%;
    display: block;
    margin: 0;
}
.card-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* SECTION 5 RESPONSIVE CSS */
@media screen and (max-width:560px) { 
    .card-image{
        width: 100%;
        padding: 10px;
    }
} 
@media screen and (max-width :992px) and (min-width:561px){
    .card-image{
        width: 50%;
        padding: 15px;
    }
}

/* SECTION 6 CSS */
.keyboard-image{
    position: relative;
}
.keyboard-image img{
    width: 100%;
    height: 450px;
}
.keyboard-image > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hireme-btn{
    color: #000;
    text-decoration: none;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 500;
}
.hireme-btn:hover{
    color: #f5df4e;
    background-color: #949597;
}
/* SECTION 7 CSS */
.accordionItemHeading{
    font-size: 18px;
    font-weight: 500;
}
.close .accordionItemHeading{
      cursor:pointer;
      padding:10px 15px 10px 0;
      color: #9e9ea0;
}
.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    transform: scaleY(0);
    display:block; 
}
.close .toggle-icon::before {
    color: #9e9ea0;
    content: "\f078"; 
    font-family: "Font Awesome 5 Pro"; 
    font-size: 15px;
    margin-right: 15px;
}  
.open .accordionItemContent{
    padding-left: 25px;
    background-color: #fff;
    display:block;
    transition: transform 0.4s ease; 
}
.open .toggle-icon::before {
    content: "\f077"; 
    font-family: "Font Awesome 5 Pro";
    font-size: 15px;
    margin-right: 15px;
}
.open .accordionItemHeading{
    padding:10px 10px 10px 0;
    color: black;
}
.lightening-bulb {
    padding-left: 100px;
    font-size: 400px;
}
/* SECTION 7 RESPONSIVE CSS */
@media screen and (max-width : 560px){
    .lightening-bulb{
        padding:0;
        font-size: 200px;
        text-align: center;
    }
}
@media screen and (max-width:767px) and (min-width:561px) {
    .lightening-bulb{
        padding:0;
        font-size: 300px;
        text-align: center;
    }
}
@media screen and (max-width:1199px) and (min-width:768px){
    .lightening-bulb{
        padding: 0;
        font-size: 400px;
        text-align: center;
    }
}

/* SECTION 8 CSS */
.client-feedback{
    background-color: #949597;
}
.client-comments{
    padding: 30px 200px;
}
.client-comments p{
    padding: 10px 0;
    font-size: 20px;
    color: #f0f0f1;
}
.client-fig img{
    width: 100px;
    height: 100px;
    padding: 5px;
}
.client-fig figcaption{
    font-size: 15px;
    color: #f0f0f1;
}

/* SECTION 8 RESPONSIVE CSS */
@media screen and (max-width : 767px){
    .client-comments{
        padding: 20px;
    }
}
@media  screen and (max-width:1199px) and (min-width:768px) {
    .client-comments{
        padding: 10px 50px;
    }
}

/* SECTION 9 CSS */
.contact-details p{
    font-size: 20px;
    font-weight: 500;
    line-height: 2rem;
    padding-right: 50px;
}
.contact-details dl dd{
    font-size: 18px;
}
.social-icons i{
    color: #4d555b;
    padding-right: 10px;
}
.client-details{
    padding-bottom: 30px;
}
.text-line {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #3b3b2e;
        padding: 20px 2px 0;
        width: 100%;
}
.text-line-long{
    padding: 65px 2px 0;
}
.submit-btn{
    position: relative;
    width: 125px;
    font-size: 15px;
    padding: 8px 30px;
    border: 1px solid #353a40;
    color: #ffffff;
    background-color: #353a40;
}
.submit-btn:hover{
    background-color: #111419;
}
.submit-btn input[type=submit]{
    border: none;
    background-color: transparent;
    color: #ffffff;
}
.submit-btn i{
    position: absolute;
    top: 14px;
    left: 80px;
}
/* SECTION 9 RESPONSIVE CSS */
@media screen and (max-width:767px){
    .contact-details .contact-address{
       padding-bottom: 75px;
    }
}
@media screen and (max-width:1199px) and (min-width:768px) {
    .contact-details .contact-address{
        padding-bottom: 100px;
     }    
}
/* Footer Section CSS */
.footer-information{
    background-color: #111419;
}
.copyright-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-information span.active{
    color: #f5df4e;
}
@media screen and (max-width:560px) {
    .copyright-information{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .copyright-information div{
        padding: 5px 0;
    }
}
@media screen and (max-width:992px) and (min-width:561px) {
    .copyright-information{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .copyright-information div{
        width: 100%;
        padding: 10px 0;
    }
}
